@use 'variables' as *;

//mixins
@mixin color-swatch {
  width: 5em;
  height: 5em;
}

@mixin border {
  border-style: outset;
  border-color: $secondaryblue;
  border-radius: 5px;
}

@mixin heading($size, $font) {
  font-family: $font;
  color: $lightblue;
  font-size: $size;
}


h1 {
  @include heading(3em, $cleartitle);
}

h2 {
  @include heading(2.6em, $brushtitle);
}

h3 {
  @include heading(1.8em, $cleartitle);
}

h4 {
  @include heading(1.5em, $cleartitle);
  font-style: italic;
}

footer a {
  width: 50%;
  text-align: center;
  margin: 1em auto;
  font-weight: bold;
  display: block;
  font-family: $cleartitle;
  font-size: 1.2em;
}

footer {
  display: block;
}

p, figcaption {
  font-family: $maintext;
  color: $lightblue;
}

body {
  background-image: linear-gradient($primarydkblue, $secondaryblue);
 // background-repeat: no-repeat;
 // background-size: cover;
  //backdrop-filter: blur(8px);
  background-image: linear-gradient(-45deg, #03045E, #0096c7);
 background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

section, .supporting, .sidebar {
  margin-top: 1em;
  padding: 1em;
  word-wrap: break-word;
}

.sidebar {
  @include border();
}

a {
  text-decoration: none;
  background-color: $secondaryblue;
  color: $lightblue;
  padding: .3em;
  border-radius: 5px;
  display: inline-block;
  transition: all .2s ease-in-out;
}

a:hover {
  background-color: $lightblue;
  color: $primarydkblue;
  transform: scale(1.1); 
  filter: drop-shadow(0 0.2rem 0.25rem rgba(0, 0, 0, 0.7));
}

.swatch.primary {
  background-color: $primarydkblue;
  @include color-swatch();
  @include border();
}

.swatch.accent1 {
  background-color: $secondaryblue;
  @include color-swatch();
  @include border();
}

.swatch.accent2 {
  background-color: $accent;
  @include color-swatch();
  @include border();
}

.swatch.text-dark {
  background-color: $lightblue;
  @include color-swatch();
  @include border();
}

li {
  color: $lightblue;
  list-style-type: none;
  line-height: 1em;
  margin-bottom: .3em;
}

.sidebar ul {
  @include border;
  padding: 2em;
  padding-top: 2.5em;
  border-style:groove;
  border-radius: 30% 40% 80% 20% / 40% 60% 30% 25%;
}

.sidebar h3 {
  transform: rotate(-10deg);
}

.designer-name {
  color: $primarydkblue;
}

@include breakpoint(large) {

  .page-wrapper {
    display: grid;
  }

  .sidebar {
    grid-column-start: 3;
    grid-column-start: 4;
    grid-row-start: 1;
    grid-row-end: 4;
  }

  .intro {
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .main {
    grid-column-start: 1;
    grid-column-end: 3;
  }

  footer {
    display: flex;
    gap: 1em;
    justify-content: center;
    padding-top: 30px;
    width: 95%;
    margin: 0 auto;
  }

  footer a {
    width: 18%;
  }
}