@use 'variables' as *;
@use 'atoms';


@mixin transform($transforms) {
	-webkit-transform: $transforms;
	-moz-transform: $transforms;
	-ms-transform: $transforms;
	transform: $transforms;
}

// Rotate
@mixin rotate ($deg) { 
	@include transform(rotate(#{$deg}deg));
}

// Transform Origin
@mixin transform-origin ($origin) {
    -webkit-transform-origin: $origin;
    -moz-transform-origin: $origin;
-ms-transform-origin: $origin;
transform-origin: $origin;
}

.preamble h3 {
    font-size: 1rem;
    color: white;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-align: center;
    border-radius: 20px 20px 0 0;
    border: solid $lightblue 2px;
    background-color: $primarydkblue;
    margin-top: -60px;
    padding: 1em;
  }

  @media screen and (min-width: $break-large) {
    .preamble h3 {
        position: relative;
        top: 172px;
        right: 40px;
        max-width: 200px;
        padding: 5px;
        margin-top: 0;
        @include rotate(270);
        @include transform-origin(0);
    }

  }

