@use 'variables' as *;
@use 'atoms';
@use 'molecules';

.colors {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  h3 {
    width: 100%;
  }
}

.preamble, .participation, .requirements,.explanation, .benefits {
  background-color: $lightblue;
  margin-top: 70px;
  max-width: 100%;
  padding: 1em;
}

.main {
  margin-top: 0px;
}

.explanation, .benefits {
  background-color: $primarydkblue;
}

.preamble p, .participation p, .requirements p {
  color: $primarydkblue;
}

.preamble p:first-of-type, .participation p:first-of-type,  .explanation p:first-of-type, .benefits p:first-of-type, .requirements p:first-of-type{
  margin-top: 0px;
}

@media screen and (min-width: $break-large) {
  .preamble p:first-of-type, .participation p:first-of-type,  .explanation p:first-of-type, .requirements p:first-of-type{
    margin-top: -60px;
  }

  .benefits p:first-of-type {
    margin-top: -40px;
  }

  .preamble, .participation, .explanation, .benefits, .requirements {
    margin-top: 0;
    max-width: 85%;
    padding-bottom:10px;
    margin-left: 3em;
  }

  .preamble, .participation {
    min-height: 11.75em;
  }

  .explanation, .benefits {
    min-height: 11.75em;
    margin-bottom: 2em;
  }

  header {
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3C!-- Generator: Adobe Illustrator 27.0.0  SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 216 216' style='enable-background:new 0 0 216 216%3B' xml:space='preserve'%3E%3Cstyle type='text/css'%3E.st0%7Bfill:%230396C7%3B%7D%3C/style%3E%3Cpath class='st0' d='M171.69 68.77c-2.44-1.01-4.94-1.63-7.44-1.92c9.53 7.58 13.29 20.92 8.35 32.87c-4.95 11.95-17.04 18.73-29.14 17.35c1.97 1.57 4.18 2.89 6.62 3.9c14.23 5.89 30.61-1.02 36.58-15.43C192.62 91.12 185.92 74.66 171.69 68.77z'/%3E%3Cpolygon class='st0' points='137 117.69 138.85 121.45 143 122.05 140 124.98 140.71 129.11 137 127.16 133.29 129.11 134 124.98 131 122.05 135.15 121.45 '/%3E%3Cpolygon class='st0' points='151.79 104.71 151.75 106.77 153.42 107.97 151.45 108.57 150.83 110.53 149.65 108.84 147.59 108.86 148.83 107.21 148.19 105.26 150.13 105.93 '/%3E%3Cpolygon class='st0' points='158.98 89.74 162.03 93.35 166.74 92.88 164.25 96.9 166.14 101.23 161.55 100.1 158.02 103.24 157.68 98.53 153.6 96.14 157.97 94.36 '/%3E%3Cpolygon class='st0' points='156.59 79.43 157.06 82.2 159.61 83.38 157.12 84.68 156.79 87.47 154.78 85.51 152.03 86.05 153.27 83.54 151.91 81.08 154.68 81.49 '/%3E%3Cpolygon class='st0' points='159.63 68 160.36 69.45 162 69.68 160.81 70.81 161.09 72.41 159.63 71.65 158.16 72.41 158.44 70.81 157.26 69.68 158.9 69.45 '/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right;
    background-size: 25%;
    overflow: overlay;
  }
}



