@use 'variables' as *;
@use 'atoms';
@use 'molecules';

.colors {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  h3 {
    width: 100%;
  }
}

.preamble, .participation {
  background-color: $lightblue;
  max-width: 90%;
  margin: 70px auto 0 auto;
  padding: 1em;
}

.explination {
  background-color: $primarydkblue;
  max-width: 90%;
  margin: 70px auto 0 auto;
  padding: 1em;
}



.preamble p, .participation p {
  color: $primarydkblue;
}

.preamble p:first-of-type, .participation p:first-of-type, .explination p:first-of-type{
  margin-top: 0px;
}

@media screen and (min-width: $break-large) {
  .preamble p:first-of-type, .participation p:first-of-type, .explination p:first-of-type{
    margin-top: -60px;
  }

  .preamble, .participation, .explination {
    margin-top: 0;
    min-height: 108px;
    max-width: 85%;
    padding-bottom:10px;
  }
}

