@use 'variables' as *;
@use 'atoms';
@use 'molecules';

.colors {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  h3 {
    width: 100%;
  }
}


//testing - making a change just to see if there's a change 


.preamble {
  display: grid;
  grid-template-columns: 40px 1fr;
  grid-template-areas: 
    "preheader prep1"
    "preheader prep2"
    "preheader prep3";
}

.preamble h3 {
  grid-area: preheader;
  color: $accent;

}

.preamble p:nth-child(1) {
  grid-area: prep1;
}

.preamble p:nth-child(2) {
  grid-area: prep2;

}

.preamble p:nth-child(3) {
  grid-area: prep3;
}