//fonts
$cleartitle: 'Montserrat', sans-serif;
$brushtitle: 'Comforter Brush', cursive;
$maintext: 'Open Sans', sans-serif;

//colors
$primarydkblue: #03045E;
$secondaryblue: #0096c7;
#accent: #48cae4;
$lightblue: #CAF0F8;
