@import url("https://fonts.googleapis.com/css2?family=Comforter+Brush&family=Montserrat:ital@0;1&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");
h1 {
  font-family: "Montserrat", sans-serif;
  color: #CAF0F8;
  font-size: 3em;
}

h2 {
  font-family: "Comforter Brush", cursive;
  color: #CAF0F8;
  font-size: 2.6em;
}

h3 {
  font-family: "Montserrat", sans-serif;
  color: #CAF0F8;
  font-size: 1.8em;
}

h4 {
  font-family: "Montserrat", sans-serif;
  color: #CAF0F8;
  font-size: 1.5em;
  font-style: italic;
}

p, figcaption {
  font-family: "Open Sans", sans-serif;
  color: #CAF0F8;
}

body {
  background-image: linear-gradient(#03045E, #0096c7);
  background-image: linear-gradient(-45deg, #03045E, #0096c7);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
section {
  border-style: outset;
  border-color: #0096c7;
  border-radius: 5px;
  margin-top: 1em;
  padding: 1em;
  word-wrap: break-word;
}

a {
  text-decoration: none;
  background-color: #0096c7;
  color: #CAF0F8;
  padding: 0.3em;
  border-radius: 5px;
  display: inline-block;
  transition: all 0.2s ease-in-out;
}

a:hover {
  background-color: #CAF0F8;
  color: #03045E;
  transform: scale(1.1);
}

.swatch.primary {
  background-color: #03045E;
  width: 5em;
  height: 5em;
  border-style: outset;
  border-color: #0096c7;
  border-radius: 5px;
}

.swatch.accent1 {
  background-color: #0096c7;
  width: 5em;
  height: 5em;
  border-style: outset;
  border-color: #0096c7;
  border-radius: 5px;
}

.swatch.accent2 {
  background-color: #48cae4;
  width: 5em;
  height: 5em;
  border-style: outset;
  border-color: #0096c7;
  border-radius: 5px;
}

.swatch.text-dark {
  background-color: #CAF0F8;
  width: 5em;
  height: 5em;
  border-style: outset;
  border-color: #0096c7;
  border-radius: 5px;
}

.preamble h3 {
  font-size: 1rem;
  color: white;
  text-transform: uppercase;
  letter-spacing: 3px;
  text-align: center;
  border-radius: 20px 20px 0 0;
  border: solid #CAF0F8 2px;
  background-color: #03045E;
  margin-top: -60px;
  padding: 1em;
}

@media screen and (min-width: 700px) {
  .preamble h3 {
    position: relative;
    top: 172px;
    right: 40px;
    max-width: 200px;
    padding: 5px;
    margin-top: 0;
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
    -webkit-transform-origin: 0;
    -moz-transform-origin: 0;
    -ms-transform-origin: 0;
    transform-origin: 0;
  }
}
.colors {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.colors h3 {
  width: 100%;
}

.preamble {
  background-color: #CAF0F8;
  width: 90%;
  margin: 70px auto 0 auto;
  padding: 1em;
}

.preamble p {
  color: #03045E;
}

.preamble p:first-of-type {
  margin-top: 0px;
}

@media screen and (min-width: 700px) {
  .preamble p:first-of-type {
    margin-top: -80px;
  }
  .preamble {
    margin-top: 0;
    min-height: 182px;
    width: 85%;
  }
}

/*# sourceMappingURL=style.css.map */
