// styles.scss
@use 'variables' as *;
@use 'atoms';
@use 'molecules';
@use 'organisms' as o;

@import url('https://fonts.googleapis.com/css2?family=Comforter+Brush&family=Montserrat:ital@0;1&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

// a test comment

